<div class="container">
    <div class="row">
        <div class="card mx-auto my-5 text-center" style="width: 18rem;">
            <img src="https://www.countryflags.io/{{getFlag(countryName)}}/flat/64.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{countryName}}</h5>
                <div class="row d-flex justify-content-between mt-4">
                    <a href="#" class="btn btn-dark col-5" (click)="editCountry()">Edit Country</a>
                    <a href="#" class="btn btn-danger col-5" (click)="deleteCountry()">Delete Country</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="row g-3">
            <div class="col-10 col-lg-6 mx-auto">
                <label for="addCityName" class="form-label h4">Add City</label>
                <input type="text" class="form-control" id="addCityName" placeholder="City Name" name="city"
                    [(ngModel)]="addedCityName">
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-dark btn-lg mt-3" (click)="addCity()">Add City</button>
            </div>
        </form>
    </div>
    <div class="row">
        <app-cities [InputCountryId] = "countryId" [events]="eventsSubject.asObservable()"></app-cities>
    </div>
</div>